input, select {
    width: 100%;
    padding: 5px;
    margin: 5px 5px 5px 0px;
    box-sizing: border-box;
}

input.error, select.error {
  border: 2px red solid;
}

.jumbotron {

	background-color: olivedrab;
}